$max-width: 1130px;
$spacing-small: 10px;
$spacing-medium: 20px;
$primary-color: #cb1c22;
$secondary-color: #cf2c32;
$background-color: #ffffff;
$text-color: #333;

.header-component {
  background-color: $primary-color;
  padding: 20px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;

  .cart-container {
    position: relative;
  }

  .cart-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 2px solid rgb(90, 89, 89);
    background-color: #ffffff;
    color: $primary-color;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
  }

  .ant-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
  }

  .navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .navigation-item {
      padding: 0 20px;
      display: flex;
      align-items: center;
    }

    .navigation-item a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      transition: color 0.3s, transform 0.2s;
      position: relative;

      &:hover {
        color: #e7e5e0;
        transform: scale(1.1);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #d6d5d2;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  @keyframes red-envelope {
    0% { transform: translateX(0); }
    100% { transform: translateX(50px); }
  }

  .red-envelope {
    position: absolute;
    font-size: 30px;
    color: red;
    animation: red-envelope 2s infinite alternate;
  }

  @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
    100% { transform: translateY(0); }
  }

  .bouncing-gold {
    position: absolute;
    font-size: 20px;
    color: #ffcc00;
    animation: bounce 1s ease-in-out infinite;
  }

  .logo {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    padding-left: 20px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .login-button {
    background-color: #fff;
    color: rgb(116, 113, 113);
    border: 2px solid $primary-color;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $primary-color;
      color: #fff;
      transform: scale(1.1);
    }

    .fi-rr-user {
      margin-right: 10px;
      font-size: 20px;
      color: #000;
    }
  }

  .cart-container {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

    .cart-button {
      background-color: #fff;
      color: #000;
      border: 2px solid $primary-color;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 30px;
      transition: background-color 0.3s, color 0.3s, transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }

      .anticon {
        font-size: 24px;
        margin-left: 10px;
      }
    }
  }

  .search-container {
    width: 300px;

    .search-input {
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 16px;
      width: 100%;
      transition: border-color 0.3s;

      &:focus {
        border-color: $primary-color;
      }

      .ant-input-prefix {
        color: #5e8dc7;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 10px 20px;

    .ant-row {
      flex-wrap: wrap;
      justify-content: center;
    }

    .logo {
      text-align: center;
      padding-left: 0;
      margin-bottom: 10px;
    }

    .navigation {
      flex-wrap: wrap;
      justify-content: center;

      .navigation-item {
        padding: 5px 10px;
      }

      .navigation-item a {
        font-size: 16px;
      }
    }

    .search-container {
      width: 100%;
      margin-top: 10px;
    }

    .login-button,
    .cart-button {
      font-size: 14px;
      padding: 8px 15px;
    }
  }

  @media screen and (max-width: 768px) {
    .header-component {
      max-width: 600px;
    }

    .navigation {
      flex-wrap: wrap;
      justify-content: center;

      .navigation-item {
        padding: 5px 10px;
      }

      .navigation-item a {
        font-size: 16px;
      }
    }

    .search-container {
      width: 100%;
    }

    .login-button,
    .cart-button {
      font-size: 14px;
      padding: 8px 15px;
    }
  }

  @media screen and (max-width: 480px) {
    .header-component {
      max-width: 300px;
    }

    .navigation {
      flex-direction: column;
      align-items: center;

      .navigation-item {
        padding: 5px 0;
      }
    }

    .search-container {
      margin-top: 15px;
    }

    .login-button,
    .cart-button {
      font-size: 12px;
      padding: 6px 10px;
      border-radius: 20px;
    }
  }
}
