.header-component {
  background-color: #5e8dc7;
  padding: 15px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .ant-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .navigation-item {
      padding: 0 20px;
      display: flex;
      align-items: center;
    }

    .navigation-item a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      transition: color 0.3s, transform 0.2s;
      position: relative;

      &:hover {
        color: #e7e5e0; 
        transform: scale(1.1);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #d6d5d2;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  .logo {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    padding-left: 20px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .login-button {
    background-color: #fff;
    color: #5e8dc7;
    border: 2px solid #5e8dc7;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #ece9e2;
      color: #fff;
      transform: scale(1.1);
    }

    .fi-rr-user {
      margin-right: 10px;
      font-size: 20px;
      color: #000; 
    }
  }

  .cart-container {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

    .cart-button {
      background-color: #fff;
      color: #000;
      border: 2px solid #5e8dc7;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 30px;
      transition: background-color 0.3s, color 0.3s, transform 0.2s;

      &:hover {
        
        transform: scale(1.1);
      }

      .anticon {
        font-size: 24px;
        margin-left: 10px;
      }
    }
  }

  .search-container {
    width: 300px; 
    .search-input {
      border-radius: 30px; 
      padding: 10px 20px;
      font-size: 16px;
      width: 100%;
      transition: border-color 0.3s;

      &:focus {
        border-color: #f0a500; 
      }

      .ant-input-prefix {
        color: #5e8dc7; 
      }
    }
  }
}
